.footer-content{
    background-color: var(--color-dark-transparent);
    color:white;
    grid-area: footer;
    display:grid;
    width: 98%;
    min-height: 150px;
    font-size: var(--font-size-08rem);
    padding: 1%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.5fr 0.5fr 1fr 0.5fr;
    grid-template-areas: 'news some '
                         'sub sub '
                         'logo logo'
                        'copy copy';
}
.subscibe-news{
    grid-area: news;
    line-height: var(--line-spacing);
    font-size: 50px;

}


.subscribe-input{
    grid-area: sub;

}
.sub-mail{
    /* background-image: url("../../game-hub/icons/Mail.png"); */
    background-image: url("../icons/Mail.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-y: 50%;
    background-position-x: 5px;
    text-align: center;
    font-size: 0.6rem;
    height: 22px;
    width: 50%;
}
.sub-btn{
    height: 28px;
    width: 40%;
}

.footer-logo{
    grid-area: logo;
    padding-top: 15px;


}
.footer-contact{

    align-self: start;
    line-height: var(--line-spacing);
    font-size: 0.7rem;
}

.footer-some-wrapper{
    grid-area: some;
    line-height: var(--line-spacing);
    padding-top: 5%;
    display: flex;
    flex-direction: column;


}
.some-icons-wrapper{
    display: flex;
    flex-direction: column;
}
.some-icons-footer{
    height: 35px;
    width: 38px;
}

.copyright{
    grid-area: copy;
    font-size: 0.5rem;

    align-self: flex-end;
    text-align: center;
    padding: 3% 10%;
}

@media (min-width: 750px){
     .footer-content{
        font-size: var(--font-size-1rem);
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.1fr 0.2fr;
        grid-template-areas: 'news some '
                             'sub some '
                             'logo logo'
                            'copy copy';
    }
    .footer-img{
        /* background-image: url("../../game-hub/images/controller.jpg"); */
        background-image: url("../images/controller.jpg");
        background-repeat: none;
        background-size: cover;
        background-position-y: center;
    }
    .some-icons-footer{
        height: 35px;
        width: 35px;
    }
    .footer-contact{
        line-height: var(--line-spacing-tablet);
        font-size: 0.8rem;
    }
    .sub-mail{

        background-size: 20px;
        background-position-x: 10px;
        font-size: var(--font-size-1rem);
        height: 30px;

    }
    .sub-btn{
        height: 36px;
        width: 40%;
    }
    .copyright{
        font-size: 0.6rem;
        align-self: flex-end;
        text-align: end;
        padding: 3% 10%;

    }


}

@media  (min-width: 1300px){
    .footer-content{
   font-size: 1.5rem;
   grid-template-columns: 2fr 2fr;
   grid-template-rows: 0.3fr 0.5fr 0.1fr 0.2fr;
   grid-template-areas: 'news some '
                        'sub some '
                        'logo logo'
                       'copy copy';
}
.footer-some-wrapper{
   padding-left: 400px;
}
.footer-img{
    /* background-image: url("../../game-hub/images/controller.jpg"); */
   background-image: url("../images/controller.jpg");
   background-repeat: none;
   background-size: cover;
   background-position-y: center;
}


.footer-logo{
   grid-area: logo;
   padding-top: 15px;
   height: 100px;
   width: auto;


}
.some-icons-footer{
   height: 35px;
   width: 35px;
}
.footer-contact{

   line-height: var(--line-spacing-desktop);
   font-size: var(--font-size-1rem);
}
.sub-mail{

   background-size: 30px;
   background-position-x: 10px;
   font-size: 1.5rem;
   height: 50px;

}
.sub-btn{
   font-size: 1.5rem;
   height: 56px;
   width: 40%;
}
.copyright{
   font-size: var(--font-size-1rem);
   align-self: flex-end;
   text-align: center;
   padding: 0;

}
}