
footer{
    grid-area: footer;
    background-color: #535050;
    color:white;
    padding: 10px;
    max-width: 100vw;
    display:grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas: 
        'footer-header footer-header '
        'footer-address footer-contact'
        'footer-some footer-some'
        ;

}
.logo-footer{
    height: 100px;  
}
.flex-container{
    display: flex;
    flex-direction: row;
    padding-right:  0;
}

.maps-link{
    font-size: 10px;
}

.footer-header p{
    margin-top: 7%;
    font-size: larger;
    
}
.footer-header{
     grid-area: footer-header;
}

.logo-footer{
   
    height: 57px;
    width: auto;
    margin: 10px;
}

.info-wrap{
    display: grid;
   
}

.address-wrap{
    
    grid-area: footer-address;
}
.address-wrap address p{
   top:0%;
   font-size: small;
}

.contact-wrap{
    grid-area: footer-contact;
    text-align: right;
    
}
.contact-wrap p{
    top: 0%;
    font-size: small;
}

.some-wrapper{
    text-align: left;
    grid-area: footer-some;    
    padding-top: 5%;  
}

.privacy-link{
    padding-top: 15px;
    font-size: 12px;
    
}
.privacy-link a{
    color: black;
}
.some-wrapper img{
    margin-left: 50px;
}

.youtube-icon{
    position: relative;
    top: 10px;
    height: 72px;
}

@media (min-width: 750px){
     .footer-content{
        font-size: var(--font-size-1rem);
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.1fr 0.2fr;
        grid-template-areas: 'news some '
                             'sub some '
                             'logo logo'
                            'copy copy';
    }
    .footer-img{
      
        background-image: url("../src/images/controller.jpg");
        background-repeat: none;
        background-size: cover;
        background-position-y: center;
    }
    .some-icons-footer{
        height: 35px;
        width: 35px;
    }
    .footer-contact{
        line-height: var(--line-spacing-tablet);
        font-size: 0.8rem;
    }
    .sub-mail{

        background-size: 20px;
        background-position-x: 10px;
        font-size: var(--font-size-1rem);
        height: 30px;

    }
    .sub-btn{
        height: 36px;
        width: 40%;
    }
    .copyright{
        font-size: 0.6rem;
        align-self: flex-end;
        text-align: end;
        padding: 3% 10%;

    }


}

@media  (min-width: 1300px){
   .maps-link{
 

        padding-left: 20%;
    }
    .footer-header p{
        margin-top: 4%;
       
    }
    .logo-footer{
        height: 102px;
    
    }

    .contact-info-wrap{
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            'footer-address footer-contact footer-some'
        
    }
    .address-wrap address p{
        
        padding-left: 20%;
    
    }
  
    .some-wrap{
        padding-top: 5%;
    }
    .some-wrap img{
        width: 70px;
        height: 70px;
    }
}