
footer{
    grid-area: footer;
    background-color: #535050;
    color:white;
    padding: 10px;
    max-width: 100vw;
    display:grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas: 
        'footer-header footer-header '
        'footer-address footer-contact'
        'footer-some footer-some'
        ;

}
.logo-footer{
    height: 100px;  
}
.flex-container{
    display: flex;
    flex-direction: row;
    padding-right:  0;
}

.maps-link{
    font-size: 10px;
}

.footer-header p{
    margin-top: 7%;
    font-size: larger;
    
}
.footer-header{
     grid-area: footer-header;
}

.logo-footer{
   
    height: 57px;
    width: auto;
    margin: 10px;
}

.address-wrap{
    grid-area: footer-address;
}
.address-wrap address p{
   top:0%;
   font-size: small;
}

.contact-wrap{
    grid-area: footer-contact;
    text-align: right;
    
}
.contact-wrap p{
    top: 0%;
    font-size: small;
}

.some-wrapper{
    text-align: left;
    grid-area: footer-some;    
    padding-top: 5%;  
}

.privacy-link{
    padding-top: 15px;
    font-size: 12px;
    
}
.privacy-link a{
    color: black;
}
.some-wrapper img{
    margin-left: 50px;
}

.youtube-icon{
    position: relative;
    top: 10px;
    height: 72px;
}

@media (min-width: 750px){
    footer{
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr ;
     grid-template-areas: 
        'footer-header footer-header footer-header'
        'footer-address footer-contact footer-some'
        ;

}
 
.logo-footer{
    height: 100px;  
    margin-left: 5%;
}
.footer-header p{
    margin-top: 5%;
    margin-left: 10%;
    font-size: x-large;
    
}
.address-wrap address p, .contact-wrap p{
   top:0%;
   font-size: medium;
   
   
}
.address-wrap, .contact-wrap{
    margin-left: 20%;
    margin-top: 5%;
}
.contact-wrap{
    text-align: left;
}
.some-wrapper{
    text-align: left;
}
.some-wrapper img{
    margin-left: 1%;
}

 


}

@media (min-width: 1000px){
   .logo-footer{
    height: 150px;  
    margin-left: 20%;
}
.footer-header p{
    font-size: xx-large;
    
}
.address-wrap address p, .contact-wrap p{
   font-size: larger;
}

.some-wrapper img{
    margin-left: 10%;
} 
}
@media (min-width: 1600px){
.some-wrapper img{
    margin-left: 20%;
} 
}
