nav,
#menu-checkbox{
    display: none;
}

#menu-checkbox:checked ~ nav{
    display: block;
}

header{
    grid-area: header;
    position: sticky;
    background-color: #535050;
    max-width: 100%;
    height: 65px;
    top: 0px;
    box-shadow: 2px 2px 20px white;
    z-index: 3;
}


.logo-position img{
    position: absolute;
    left: 30%;
    top: 10px;
    height: 70px;
    width: auto;
   
}

nav {
    position: absolute;
    width: 100%;
    background-color:  #535050;
}

.hamburger-icon span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 2px;
    margin: 5px 10px;
    background-color: #000000;
    box-shadow: 2px 2px 2px white;
}
.hamburger-icon{
    margin: 10px;
}

.nav-links {
    font-size: 1.5rem;
    list-style: none;
    text-align: left;
    
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  
}
.nav-links li{
 margin-bottom: 5%;

}

.nav-links a:hover {
   text-decoration: underline;
}
.nav-links a.active{
  color: rgb(8, 8, 8);
  text-decoration: underline;
}
.shopping-cart{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.shopping-cart:hover{
    text-decoration: underline;
    
}

.cart-wrapper{
    position: absolute;
    left: 70%;
    top: 20px;
}

.cart-info{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: small;
    text-align: center;
    color:#fff;
}
.empty{
    background-color: red;
}

@media (min-width: 750px){

    nav,
    #menu-checkbox{
        display: none;
    }
      .hamburger-icon{
        display:none;
    }
    nav{
        display: block;
        position: static;
        max-height: 80px;
      

    }
    header{
        box-shadow: 15px 15px 20px white;
    }
    .nav-links {
        margin:0;
        padding-top: 1%;
        font-size: 2rem;
        list-style: none;
        text-align: left;
        display: flex;
    }
    .nav-links li{
        margin-right: 5%;

    }
   
    .logo-position img{
        height: 100px;
        left: 50%;
    }
    .shopping-cart{
        font-size: 2rem;
   
    }

    .cart-wrapper{
        left: 80%;
    }

    .cart-info{
        right: -15px;
        top: -15px;
        width: 25px;
        height: 25px;
        font-size: large;
        text-align: center;
        padding-top: 3%;
    }
  
}