body {
  background-color: rgb(190, 182, 182);
  color: #2c2a2a;
  margin: 0;
  display:grid;
  grid-template-columns: 1fr auto 2fr;
  grid-template-rows: 0.2fr auto 1fr;
  grid-template-areas: 
                      'header header header'
                      'main main main'
                      'footer footer footer';
} 

/* Pages */
.page {
  display: none;
  padding: 2rem;
}

.page.active {
  display: block;
}
main{
  grid-area: main;
  text-align: center;
  padding-top: 100px;
}


/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters input,
.filters select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
   cursor: pointer;
}


