body {
  background-color: rgb(190, 182, 182);
  color: #2c2a2a;
  margin: 0;
  display:grid;
  grid-template-columns: 1fr auto 2fr;
  grid-template-rows: 0.2fr auto 1fr;
  grid-template-areas: 
                      'header header header'
                      'main main main'
                      'footer footer footer';
} 

/* Pages */
.page {
  display: none;
  padding: 2rem;
}

.page.active {
  display: block;
}
main{
  grid-area: main;
  text-align: center;
  padding-top: 100px;
}


/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters input,
.filters select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
   cursor: pointer;
}



/* Cart */
.cart-btn.in-cart {
  background-color: #6c6;
  color: white;
  cursor: default;
}
#cart-items {
  margin-top: 1rem;
}

.cart-item {
  display: flex;
  gap: 15px;
  align-items: center;
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.cart-item button {
  background-color: #ff4d4d;
  border: none;
  padding: 0.3rem 0.7rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #d93636;
}
.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.remove-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.remove-btn:hover {
  background: #b91c1c;
}

.product-detail-card img{
    height: auto;
    width: 200px;
}

/*checkout */

.checkout-page {
  padding: 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.checkout-total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.confirm-btn,
.checkout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.confirm-btn:hover,
.checkout-btn:hover {
  background: #15803d;
}


.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.checkout-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.checkout-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

@media (min-width: 750px) {
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }
  .product-card{
    min-height: 40vh;
  }
}