/* Product cards */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.product-card {
  min-height: 60vh;
  border-radius: 10%;
  box-shadow: 5px 5px 4px  rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
  
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  margin-top:10px;
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 15px  rgb(255, 255, 255);
  border-radius: 4px;
}

.product-card button {
  background-color:  #535050;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 5px 10px  rgba(0,0,0, 0.5);
  margin-top: 10%;
}

.product-card button:hover {
  background-image: none;
  background-color: #ffffff;
  color: black;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.sale-price {
  color: #d32f2f;
  font-weight: bold;
}
.notsale{
  background: white;
  min-height: 25px;
  content: "";
}

.badge {
    position: relative;
    left: -40%;
    background: #d32f2f;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

.details-btn {
    color: black;
}
.details-btn:hover{
    color: white;
}