.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  padding: 10px;
  min-width: 100%;
  box-sizing: border-box;
}

.slider-dots {
  text-align: center;
  margin-top: 10px;
}

.slider-dots span {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots span.active {
  background: #020202;
}


@media (min-width: 750px){
  .slider-container {
    max-width: 800px;
    min-height: 90vh;
  }
  .home h2{
    text-shadow: 2px 2px 5px white;
  }

}